<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img src="./assets/images/microchip.svg">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/">Dashboard</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/devices">Devices</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown d-none d-md-block d-lg-block">
        <a class="nav-link pr-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <fa-icon icon="info-circle" size="lg"></fa-icon>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" *ngIf="userDetails">
          <a class="dropdown-item" href="" target="_blank">
            <fa-icon icon="user" class="mr-1"></fa-icon>
            {{userDetails.fullName}}
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"  href="" (click)="logout()">
            <fa-icon icon="sign-out-alt" class="mr-1"></fa-icon>
            Log Out
          </a>
        </div>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" *ngIf="!userDetails">
          <a class="dropdown-item" href="https://github.com/ameer157/smarthaus" target="_blank">Source Code</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://www.amiroff.me/" target="_blank">Author</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
