.device-container {
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.75);
  background-color: rgba(52, 58, 64, 0.85);
  color: white;
  border-radius: 3px;
  margin-bottom: 16px;
  min-height: 4rem;
  padding: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.97rem;
  transition: all 0.30s ease-out;
  span, fa-icon {
    transition: all 0.30s ease-out;
  }
  &.blur {
    filter: blur(1.3px);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    //animation: wobble 0.4s ease-in 1;
    span, fa-icon {
      opacity: 0.70;
    }
  }
  .device-type, .device-name, .device-connection {
    cursor: help;
  }
  .device-type {
    text-transform: uppercase;
  }
  .device-connection {
    text-transform: uppercase;
  }
}

.badge {
  position: absolute;
  cursor: help;
  right: 16px;
  top: 21px;
  z-index: 1;
  &.opaque {
    opacity: 0.45;
  }
}

@keyframes wobble {
  from, to {
    transform: scale(1, 1)
  }
  25% {
    transform: scale(0.98, 0.98)
  }
  50% {
    transform: scale(0.97, 0.97)
  }
  75% {
    transform: scale(0.98, 0.98)
  }
  100% {
    transform: scale(1, 1)
  }
}
