<div class="modal-dialog text-center">
  <div class="col-sm-10 form-section">
    <div class="modal-content">
      <div class="col-12 logo">
        <img src="./assets/images/microchip.svg">
        <span>Registration Panel</span>
      </div>
      <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)" class="col-12" novalidate>
        <div class="form-group">
          <input #fullName="ngModel" class="form-control" name="fullName" ngModel placeholder="Name" type="text"
                 required>
          <div *ngIf="signUpForm.submitted && fullName.errors" class="invalid-form">
            <span>This field is required.</span>
          </div>
        </div>
        <div class="form-group">
          <input type="text" #email="ngModel" ngModel class="form-control"
                 name="email" placeholder="Email" email autocomplete="username" required>
          <div *ngIf="signUpForm.submitted && email.errors" class="invalid-form">
            <span *ngIf="email['errors']?.required">This field is required.</span>
            <span *ngIf="email['errors']?.email">Invalid email address.</span>
          </div>
        </div>
        <div class="form-group">
          <input type="password" #password="ngModel" ngModel class="form-control" autocomplete="current-password"
                 name="password" placeholder="Password" minlength="8" required>
          <div *ngIf="signUpForm.submitted && password.errors" class="invalid-form">
            <span *ngIf="password['errors']?.required">This field is required.</span>
            <span *ngIf="password['errors']?.minlength">Enter at least 8 characters.</span>
          </div>
        </div>
        <button type="submit" class="btn btn-info">
          Sign Up
        </button>
      </form>
      <!-- Error message -->
      <div id="snackbar" role="alert"></div>
      <div class="text-center login-page mt-3">
        <button class="btn btn-secondary back-btn" routerLink="/">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<span class="footer">Smart Haus | Home Automation System</span>
