.form-section {
  .modal-content {
    .form-group {
      &:nth-of-type(1) {
        &::before {
          content: '\f0e0';
        }
      }
    }
    .btn-info {
      min-width: 96px;
    }
  }
}

.footer {
  position: relative;
  left: calc(50% - 136.78px);
  color: #f5f7fa;
  font-size: 12px;
  letter-spacing: 1px;
  user-select: none;
}
