.btn-info {
  min-width: 96px;
}

.footer {
  display: block;
  position: absolute;
  bottom: 8px;
  left: calc(50% - 136.78px);
  color: #f5f7fa;
  font-size: 12px;
  letter-spacing: 1px;
  user-select: none;
}
