@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:300:400');
@import url('https://use.fontawesome.com/releases/v5.4.1/css/solid.css');
@import "~bootstrap/scss/bootstrap";
@import 'assets/styles/scrollbar';
@import 'assets/styles/snackbar';

$font-size: 1rem;
$navbar-height: 50px;

html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  background: #306bbb; // Fallback for old browsers
  background: linear-gradient(to top, #3a6073, #306bbb);
}

::selection {
  background: $info;
  color: #fff;
}

.form-section {
  margin: 130px auto 0;
  padding: 0;
  .modal-content {
    background-color: #3b4652;
    opacity: 0.95;
    padding: 18px;
    .logo {
      margin-top: -66px;
      margin-bottom: 35px;
      img {
        width: 100px;
      }
      span {
        display: block;
        font-weight: 400;
        color: #f5f7fa;
        font-size: 28px;
        margin-top: 4px;
        user-select: none;
      }
    }
    .form-group {
      margin-bottom: 24px;
      .invalid-form {
        border-top: dotted 2px #3b4856;
        background: #dc3545;
        padding: 2px 6px;
        margin-top: -2px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        width: 100%;
        text-align: left;
        font-size: 75%;
        color: white;
      }
      &::before {
        font-family: 'Font Awesome 5 Free';
        content: '\f007';
        position: absolute;
        font-size: 20px;
        left: 30px;
        color: #495057;
        padding-top: 6px;
      }
      &:nth-of-type(2) {
        &::before {
          content: '\f0e0';
        }
      }
      &:last-of-type {
        &::before {
          content: '\f023';
        }
      }
      input {
        height: 42px;
        font-size: 16px;
        border: 0;
        padding-left: 48px;
      }
    }
    .alert {
      margin-top: 24px;
    }
    .login-page {
      color: white;
      a {
        color: white;
        text-decoration: underline;
      }
    }
  }
}

@include scrollbar(8px, #6c757d, #dcdcdc);

// Bootstrap overrides
.container-fluid {
  position: absolute;
  margin: calc(#{$navbar-height} + 16px) 0 16px 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dropdown-menu {
  .dropdown-item {
    font-size: $font-size;
    color: #495057;
    &:active, &:focus {
      color: white;
      background-color: darken($info, 10%);
    }
    &:hover {
      color: white;
      background-color: $info;
    }
  }
}

.ng-valid[required]:not(.ng-untouched), .ng-valid.required:not(.ng-untouched) {
  border-left: 5px solid #28a745;
}

.ng-invalid:not(form):not(.ng-untouched) {
  border-left: 5px solid #dc3545;
}

.badge {
  font-weight: 400;
  font-size: 0.8rem;
}

.custom-select-sm {
  font-size: 96%;
}

.btn {
  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
}

.btn-primary {
  $btn-primary-color: darken($primary, 8%);
  box-shadow: 0 2px 0 0 $btn-primary-color;
  transition: 0.30s ease-in-out;
  will-change: transform;
  &:active {
    box-shadow: 0 1px 0 0 darken($btn-primary-color, 8%);
  }
  &:focus, &.disabled, &:disabled {
    box-shadow: none;
    transform: translate(0px, 2px);
  }
  &.disabled, &:disabled {
    opacity: 0.55;
  }
}

.btn-secondary {
  &:not(.search-btn) {
    $btn-secondary-color: darken($secondary, 8%);
    box-shadow: 0 2px 0 0 $btn-secondary-color;
    transition: 0.30s ease-in-out;
    will-change: transform;
    &:active {
      box-shadow: 0 1px 0 0 darken($btn-secondary-color, 8%);
    }
    &:focus, &.disabled, &:disabled {
      box-shadow: none;
      transform: translate(0px, 2px);
    }
  }
}

.btn-info {
  $btn-info-color: darken($info, 8%);
  box-shadow: 0 2px 0 0 $btn-info-color;
  transition: 0.30s ease-in-out;
  will-change: transform;
  &:active {
    box-shadow: 0 1px 0 0 darken($btn-info-color, 8%);
  }
  &:focus, &.disabled, &:disabled {
    box-shadow: none;
    transform: translate(0px, 2px);
  }
}

.btn-success {
  $btn-success-color: darken($success, 8%);
  box-shadow: 0 2px 0 0 $btn-success-color;
  transition: 0.30s ease-in-out;
  will-change: transform;
  &:active {
    box-shadow: 0 1px 0 0 darken($btn-success-color, 8%);
  }
  &:focus, &.disabled, &:disabled {
    box-shadow: none;
    transform: translate(0px, 2px);
  }
}

.btn-danger {
  $btn-danger-color: darken($danger, 8%);
  box-shadow: 0 2px 0 0 $btn-danger-color;
  transition: 0.30s ease-in-out;
  will-change: transform;
  &:active {
    box-shadow: 0 1px 0 0 darken($btn-danger-color, 8%);
  }
  &:focus, &.disabled, &:disabled {
    box-shadow: none;
    transform: translate(0px, 2px);
  }
}

.modal-content {
  .modal-footer {
    .btn-save {
      min-width: 63px;
    }
  }
}
